<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @foot.number %>
</p>

<p>
  <strong>Date entry:</strong>
  <%= @foot.date_entry %>
</p>

<%= link_to 'Edit', edit_foot_path(@foot) %> |
<%= link_to 'Back', foots_path %>
